<div class="container">
    <div class="card mb-3" style="max-width: 2000px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/536/354" width="250px" height="250px" class="rounded-circle" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title"><strong>The second heading</strong> is pretty cool too.</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis iste necessitatibus ut facilis? Adipisci, laudantium magni, velit harum accusamus qui provident cupiditate perferendis sequi magnam, maxime veniam repellendus unde dicta.</p>

            </div>
          </div>
        </div>
      </div>
    <div>